/*! Rowan v1.0 - Ben Souchet */
$rowan-light-bgr: #F3F3F3;
$rowan-light-hgl: #DBDBDB;
$rowan-light-sel: #C4C4C4;
$rowan-light-com: #909090;
$rowan-light-lin: #5C5C5C;
$rowan-light-def: #454545;
$rowan-light-acc: #2D2D2D;
$rowan-light-kwd: #525252;

$rowan-dark-bgr: #2D2D2D;
$rowan-dark-hgl: #454545;
$rowan-dark-sel: #5C5C5C;
$rowan-dark-com: #909090;
$rowan-dark-lin: #C4C4C4;
$rowan-dark-def: #DBDBDB;
$rowan-dark-acc: #F3F3F3;
$rowan-dark-kwd: #CFCFCF;

$rowan-esc: #B58B00;
$rowan-res: #D44B20;
$rowan-opr: #C52A65;
$rowan-str: #8B4DDA;
$rowan-var: #376FE1;
$rowan-nam: #009B76;
$rowan-nbr: #929910;
$rowan-err: #C82F2F;
$rowan-ins: #42B52B;
